@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  *{
    text-decoration: none!important;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }
  select{
    border: none;
  }
  select:focus{
    outline: none!important;
  }
  
  [type=search]{
    border: 1px solid #dee2e6;
    outline-offset: 0px!important;
    outline: none!important;
    margin: 0 0 0 2px;
    border-radius: 4px;
  }

  [type=search]:focus{
    border: 1px solid #0d6efd;
    box-sizing: border-box;
    box-shadow: 0 0 8px 1px rgba(0,123,255,.25)
  }
  .w-22{
    width: 22%!important;
  }

  .w-12{
    width: 12%!important;
  }
  .w-85{
    width: 85%!important;
  }

  .m-20 {
    margin: 40px;
  }

  .btn.btn-toggle::after{
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    float: right;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  .rounded-se{
    border-radius: 4px 4px 0 0;
  }

  .bg-first{
    background-color: #ffffff;
  }

  .bg-second{
    background-color: #f1f4f5;
  }

  .bg-third{
    background-color: #0d6efd;
    color: rgb(228, 240, 253);
  }
  
  .bg-forth{
    background-color: #fff1d3;
    color: #eaa000;
  }

  .bg-fifth{
    background-color: rgb(207, 255, 216);
    color: #0dfd0d;
  }

  .bg-sixth{
    background-color: rgb(253, 228, 228);
    color: #fd3d0d;
  }
  
  .sidebar{
    overflow-y: auto;
    height: 100%;
    display: inline-grid;
    width: 100%;
  }
  
  .btn-default{
    color: black!important;
    background-color: white!important;
    text-align: center;
  }

  .btn-first{
    color: white!important;
    background-color: #0d6efd!important;
    text-align: center;
  }

  .btn-second{
    color: #0d6efd!important;
    background-color: rgb(228, 240, 253)!important;
    border: none!important;
    border-radius: 20px;
    padding: 8px 20px;
  }

  .btn-second:hover{
    color: white!important;
    background-color: #0d6efd!important;
  }

  .btn-third{
    color: #fd3d0d!important;
    background-color: rgb(253, 228, 228)!important;
    border: none!important;
    border-radius: 20px;
    padding: 8px 20px;
  }

  .btn-third:hover{
    color: white!important;
    background-color: #fd3d0d!important;
  }

  .btn-forth{
    color: #fd590d!important;
    background-color: rgb(255, 220, 194)!important;
    border: none!important;
    border-radius: 20px;
    padding: 8px 20px;
  }

  .btn-forth:hover{
    color: white!important;
    background-color: #fd590d!important;
  }

  .btn-sixth{
    color: #3cad00!important;
    background-color: #daf8ca!important;
    border: none!important;
    border-radius: 20px;
    padding: 8px 20px;
  }

  .btn-sixth:hover{
    color: white!important;
    background-color: #3cad00!important;
  }
  
  .btn.btn-toggle.collapsed::after{
    transform: none;
    transition: transform 0.3s ease;
  }

  .btn.btn-toggle, .btn.btn-light{
    font-weight: 600;
    width: 100%;
    text-align: left;
    margin: 5px 0;
  }

  .btn.btn-toggle:hover, .btn.btn-light:hover{
    background-color: #0d6efd;
    color: white;
  }

  .btn.btn-toggle:focus{
    background-color: #0d6efd;
    color: white;
  }

  .btn-toggle-nav li a.nav-link{
    margin-left: 40px;
    padding: 7px;
  }

  .btn-toggle-nav li a.nav-link:hover{
    color: #0d6efd;
  }

  .btn-toggle-nav li a.nav-link::before{
    font-family: "Font Awesome 5 Free";
    content: "-";
    margin-right: 10px;
  }
  .navbar-nav .dropdown-menu{
    position: fixed!important;
    float: right;
  }

  .dropdown-menu.show{
    display: block!important;
  }

  .nav-tabs .nav-link:not(.active){
    border-bottom: 1px #0d6efd!important;
  }
  
  .nav-tabs .nav-link.active:focus{
    border-bottom: 1px #0d6efd!important;
  }

  .nav-tabs .nav-link.active{
    border-bottom: 1px #0d6efd!important;
    color: #0d6efd!important;
  }
  
  .nav-tabs{
    border-top: 1px solid #dee2e6!important;
    border-right: 1px solid #dee2e6!important;
    border-left: 1px solid #dee2e6!important;
    background-color: white;
    border-radius: 4px 4px 0 0;
  }
  
  .nav-tabs .nav-link{
    color: black;
    background-color: transparent!important;
    border-color: transparent!important;
  }

  .col.card.text-center{
    margin-right: 10px;
    border: none;
  }

  .col.card.text-center:last-child{
    margin-right: 0px;
    border: none;
  }

  .col.card.text-left{
    margin-right: 10px;
    border: none;
  }

  .col.card.text-left:last-child{
    margin-right: 0px;
    border: none;
  }

  .dataTables_wrapper{
    margin-bottom: 50px;
  }
  
  .dataTables_wrapper .dataTables_length{
    width: 40%;
    display: inline-table!important;
    float: left;
    margin-left: 7px;
  }

  .dataTables_length label select[name]{
    border-bottom: 1px solid #aeaeae!important;
  }

  .dataTables_wrapper .dataTables_filter{
    width: 45%;
    display: block;
    float: right;
    text-align: right;
    padding-bottom: 20px;
  }

  
  .dataTables_wrapper .dataTables_info{
    width: 45%;
    display: block;
    float: left;
    text-align: left;
  }
  
  .dataTables_wrapper .dataTables_paginate{
    width: 40%;
    display: inline-table!important;
    float: right;
    text-align: right;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.next.disabled{
    color: #aeaeae;
    cursor: unset;
  }

  .dataTables_wrapper .dataTables_paginate a.paginate_button:not([disabled]),
  .dataTables_wrapper .dataTables_paginate span a.paginate_button:not([disabled]){
    color: black;
    background-color: white;
    padding: 7px 12px;
    border: 1px solid #dee2e6;
    cursor: pointer;
  }

  
  .dataTables_wrapper .dataTables_paginate span a.paginate_button.current{
    color: white;
    background-color: #0d6efd;
    padding: 8px 14px;
    border: none!important;
  }
  .dataTables_wrapper .dataTables_paginate a.paginate_button.previous:not(.disabled):hover,
  .dataTables_wrapper .dataTables_paginate a.paginate_button.next:not(.disabled):hover,
  .dataTables_wrapper .dataTables_paginate span a.paginate_button:not(.current):hover{
    color: #0d6efd;
    background-color: #f5f5f5;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.previous{
    border-radius: 5px 0 0 5px;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.next{
    border-radius: 0 5px 5px 0;
  }

  .table.dataTable.no-footer{
    padding-top: 10px;
  }

  .table-striped>tbody>tr:nth-of-type(odd)>*{
    --bs-table-accent-bg: none!important;
    background-color: rgba(33, 137, 255, 0.038)!important;
  }

  .table>:not(caption)>*>*{
    vertical-align: middle!important;
  }

  .table>thead{
    border-top: 1px solid #dee2e6;
    padding-top: 10px!important;
  }